*, html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: 400;}

form {font-size: 0.875rem;}

fieldset p, .item-text {font-weight: 300;}

form button {font-size: 1rem; font-weight: 600;}

button,
button:focus,
button:active {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

input[type="text"], select, option {
	height: 30px;
	border: 1px solid #c8c7c7;
	border-radius: 1px;
	padding-left: 15px;
	color: black;
	outline: none;
	vertical-align: top;
	background-color: transparent;
}

/*grid style*/
fieldset .grid {
	width: 250px;
	display: inline-block; 
	vertical-align: top;
}

fieldset .grid:not(:nth-of-type(1)) {margin-left: 10px;}
fieldset .grid:not(:last-child) {margin-right: 10px;}

button.openModal {
	display: block;
	margin: 0 auto;
	margin-top: 39px;
	width: 192px;
	height: 30px;
	border: 1px solid #418ccf;
	border-radius: 1px;
	font-size: 0.75rem;
	color: #418ccf;
}

.modalArea {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .5);
}

.modalWindow {
	position: relative;
	background-color: #fff;
	width: 88%;
	margin: 0 auto;
	margin-top: 11%;
	padding: 0 69px;
	border: 1px solid #ebebeb;
	text-align: right;
}

.closeModal {
	position: absolute;
	width: 15px;
  	height: 15px;
  	background: url("images/sprite.png") no-repeat 0 -195px;
  	right: 28px;
  	top: 18px;
  	cursor: pointer;
}

.modalWindow fieldset {
	text-align: left;
	box-sizing: content-box;
	border: none;
	border-bottom: 1px solid #e8e8e8;
	padding: 20px 0;
	overflow: hidden;
}

.modalWindow fieldset:nth-of-type(1) span,
.modalWindow fieldset:nth-of-type(1) label {
	line-height: 30px;
	overflow: hidden;
}

.modalWindow .roomsItems { width: 75%;}
.modalWindow .cost {width: 80%; float: right;}

.modalWindow .roomsItems,
.modalWindow .cost { display: inline-block;}

.modalWindow fieldset:nth-of-type(1) .grid:nth-of-type(1) .item-text {display: inline-block; width: 23%;}
.modalWindow fieldset:nth-of-type(1) .grid:nth-of-type(2) .item-text {display: inline-block; width: 15%;}

.modalWindow .roomsItems input,
.modalWindow .offers input {display: none;}

.modalWindow .roomsItems label {
	display: inline-block;
	text-align: center;
	width: 25%;
	height: 30px;
	border: 1px solid #418ccf;
	float: left;
	cursor: pointer;
}

.modalWindow .roomsItems label:not(:nth-of-type(1)) {border-left: none;}

.modalWindow .roomsItems input:checked + label {background-color: #418ccf; color: #fff;}

.modalWindow .cost input[type="text"],
.modalWindow .distance input[type="text"],
.modalWindow .area input[type="text"],
.modalWindow .symb {
	float: left;
	line-height: 30px;
}

.modalWindow .cost input[type="text"] {width: 42%;}

.modalWindow .symb {
 font-weight: 900;
 width: 8%;
 text-align: center;
}

.modalWindow .dash {color: #c8c7c7;}

.modalWindow select {
	height: 30px;
	width: 100%;
	appearance:none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    background: url("images/sprite.png") no-repeat  222px 11px;
}

.street input {
	width: 100%;
	margin-top: 24px;
}

.distance input[type="text"],
.area input[type="text"] {width: 46%;}

input[type="range"] {width: 100%;}

.distance, .area {
	overflow: hidden;
}

fieldset:nth-of-type(2) .grid p {
	line-height: 1;
	font-size: 0.875rem;
	margin-bottom: 10px;
}

fieldset:nth-of-type(2)>p {margin-bottom: 15px; font-size: 1rem;}

.modalWindow .offers label {
	display: block;
	padding-left: 24px;
	height: 15px;
	line-height: 15px;
	position: relative;
	font-size: 14px;
}

.modalWindow .offers p {padding-bottom: 6px;}

.modalWindow .offers .grid label:nth-of-type(1) {
	margin-bottom: 15px;
	margin-top: 6px;
}

.modalWindow .offers label::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 1px solid #c8c7c7;
	position: absolute;
	left: 0px;
}

.modalWindow .offers input[type="radio"]+label::before {border-radius: 50%;}

.modalWindow .offers input:checked+label::before {
	border-color: #5195d3;
	background: url("images/sprite.png") no-repeat;
}

.modalWindow .offers input[type="radio"]:checked+label::before {background-position: 3px -244px;}

.modalWindow .offers input[type="checkbox"]:checked+label::before {background-position: 1px -97px;}

.modalWindow button {
	background: url("images/sprite.png") no-repeat 22px -125px rgb(255, 125, 47);
	color: #fff;
	line-height: 1;
  	border-radius: 2px;
  	padding: 20px 28px 18px 43px;
  	margin: 20px 0 50px 0;
}

/*styles for range slider*/
.ui-widget.ui-slider-horizontal {
  box-sizing: content-box;
  		border-radius: 0;
  		border: none;
  		height: 2px;
  		background-color: rgb(200, 199, 199);
  		margin-top: 13px;
      width: 233px;
      border-right: 17px solid rgb(200, 199, 199);
  	}

  	/*.ui-state-default,*/
     .ui-widget-content .ui-state-default {
    	border-width: 2px;
  	  border-color: rgb(65, 140, 207);
  	  border-style: solid;
  	  border-radius: 50%;
  	  background-color: rgb(255, 255, 255);
  	  width: 17px;
    	height: 17px;
    	cursor: pointer;	
  	}

  	.ui-slider-horizontal .ui-slider-handle {
    	top: -8.5px;
      margin-left: 0;
	}

	.ui-slider-horizontal .ui-widget-header {
		background-color: rgb(65, 140, 207);
	}

	.ui-state-focus {outline: none;}





