*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: sans-serif;
}

body {font-size: 100%;}

a, a:active, a:visited, a:hover {
	text-decoration: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

header h1, aside h3, .articlepage h2 {
	text-align: center;
}

.menu, main {
	width: 80%;
	margin: 0 auto;
}

.menu {
	text-transform: uppercase;
	font-weight: bold;
	height: 50px;
	overflow: hidden;
	background-color: rgb(0, 204, 204);
}
.menu li{
	width: 25%;
	float: left;
	display: inline-block;
	height: 100%;
	text-align: center;
}

.menu li:not(:last-child) {border-right: 1px solid black;}

.menu li a {
	display: block;
	line-height: 50px;
}

.menu li:hover,
.active {background-color: rgb(0, 102, 204);}

aside {width: 25%; background-color: lightgray; padding: 10px 0;  float: left;}
.container {width: 75%; float: left;}

 /*background-color: lightblue;*/

aside label>input {margin: 0 10px;}

aside label {
	display: block;
	margin: 10px 0;

}

.container h2 {
	background-color: grey;
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.article {
	font-weight: bold;
	margin: 1%;
}

.article img, .article p {float: left;}

.article p {padding: 10px; width: 70%;}

.article a {text-decoration: underline;}

.article img {min-height: 100px;  width: 20%;}

.articlepage {text-align: justify; padding: 4%;}
.articlepage img {width: 50%; display: block; margin: 0 auto; padding-top: 50px; padding-bottom: 50px;}
.articlepage a {text-decoration: underline; color: blue;}