@media (max-width: 1023px) {
  .header .logo a {
    display: block!important;
    height: auto;
    padding-top: 1rem;
    width: 100%;
  }
  .header .logo p {
    display: block;
    width: 100%;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li {
    display: inline-block;
  }
  .search {
    display: none;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 95%;
  }
  .header .logo {
    text-align: center;
  }
  .header .logo p {
    display: none;
  }
  .contacts {
    text-align: center;
    padding-top: 0rem;
  }
  .contacts p:not(:first-child) {
    width: 55%;
    margin: 0 auto;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
  }
  .navbar-brand {
    display: block!important;
  }
}
