html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
html body {
  background: #fff;
  font-size: 100%;
}
html body a,
html body a:hover,
html body a:focus,
html body a:active {
  color: #000;
  text-decoration: none;
}
header {
  border-bottom: 1px solid #e8e8e8;
}
.header {
  height: 6.5rem;
}
.header .logo {
  height: 100%;
  display: table;
}
.header .logo a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.header .logo p {
  padding-top: 1.2rem;
}
.header .contacts {
  padding-top: 0.9rem;
}
.header .contacts p:first-child {
  display: inline-block;
  padding-left: 20px;
  background: url("../img/cab.png") no-repeat 0 center;
}
.header .contacts .num {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.header .contacts .mail span {
  border-bottom: 1px dotted #000;
}
.nav li > a {
  color: #000;
}
.nav li > a:focus,
.nav li > a:active {
  background: #72b13a;
  color: #fff;
  border: none;
  outline: none;
}
.nav li > a:hover {
  background: #e8e8e8 !important;
  color: #000;
}
.navbar-default > .container {
  padding-left: 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background: #72b13a !important;
}
.dropdown-menu {
  padding: 0;
  border-top: 2px solid #72b13a;
}
.dropdown-menu li > a {
  text-transform: capitalize;
}
.navbar-collapse {
  padding-left: 0;
}
.navbar-default {
  border: none;
  background: #fff;
}
.navbar-brand {
  padding: 0;
  display: none;
}
.search {
  display: table;
  float: right;
}
.search a {
  display: table-cell;
  vertical-align: middle;
}
.navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > a:hover {
  background: #72b13a;
}
