<aside>
	<h3>Choose resource</h3>
	<label><input type="radio" name="source" value="all" ng-click="showResource('all', 'all')" checked>Show all</label>
	<label ng-repeat="source in newsRes"><input type="radio" name="source" value="{{source.name}}" ng-click="showResource(source.name, source.category)">{{source.name}}</label>
</aside>
<div class="container">
	<section ng-repeat="category in categories" ng-show="categotyContent == category || categotyContent == 'all'">
		<h2>{{category}}</h2>
		<div ng-repeat="source in newsRes" ng-if="source.category == category" ng-show="resourceContent == source.name || resourceContent == 'all'">
			<!-- <h4 style="color: red; background-color: lightyellow">{{source.name}}</h4> -->
			<div ng-repeat="allArt in allArticles" ng-if="allArt.source == source.id" style="overflow: hidden;">
				<div class="article" ng-repeat="art in allArt.articles | limitTo: limitToShow"  style="overflow: hidden;"> 
					<img src="{{art.urlToImage}}" alt="Do you have a photo?">
					<p>{{art.title}}</p><br/>
					<p><a ng-click="readMore(art)">Read more...</a></p>
					<p><a href="">Save for later</a></p>
				</div>
			</div>
		</div>
		
	</section>
	
</div>
